<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="form-css">
				<%= simple_form_for @code do |f| %>
					<%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a category" }, class: "form-control", id: "select" %>
					<%= f.input :title, label: "Description" %>
					<%= f.input :content, label: "Code", class: "code_content"%>
					<%= f.button :submit, class: "btn btn-success btn-md" %>&nbsp;&nbsp;&nbsp;
					<%= link_to "Cancel", codes_path, class: "btn btn-danger btn-md" %>
				<% end %>
			</div>
		</div>
	</div>
</div>