<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<% unless @codes.blank? %>
				<div style="text-align: center;">
					<% Category.all.each do |category| %>
	  					<%= link_to category.name, codes_path(category: category.name), class: "btn btn-primary btn-sm" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  				<% end %>
  				</div>

  				<br>

				<% @codes.each do |code| %>
					<div id="codes">
						<h2><%= link_to code.title, code %></h2>
						<p>
							<%= Category.find(code.category_id).name %><br>
							<!-- Modified: <%= time_ago_in_words(code.updated_at) %> ago<br>
							Created: <%= time_ago_in_words(code.created_at) %> ago -->
						</p>
					</div>
				<% end %>
			<% else %>
				<h2>Add Code</h2>
				<p>It appears you haven't created any codes yet... Why don't you create one now?</p>
				<%= link_to "New Code", new_code_path, class: "btn btn-primary btn-lg" %>
			<% end %>
		</div>
	</div>
</div>

