<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="code_show">
				<p class="notice"><%= notice %></p>
  				<p class="alert"><%= alert %></p>

				<h1><%= @code.title %></h1>
				<!-- <p><%#= simple_format(@code.content) %></p> -->
				<!-- <p><%= @code.content %></p> -->

				
				<%= link_to "Show or Edit Code", edit_code_path(@code), class: "btn btn-primary btn-md" %>&nbsp;&nbsp;&nbsp;
				<%= link_to "Delete Code", code_path(@code), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-md" %>&nbsp;&nbsp;&nbsp;
				<%= link_to "My Codes", codes_path, class: "btn btn-success btn-md" %>
			</div>
		</div>
	</div>
</div>